<p><a class="btn btn-danger" href="#/signup" > Add New user <span class="glyphicon glyphicon-plus"></span></a></p>
<p><a class="btn btn-danger" href="#/addauthor" > Add New Translator <span class="glyphicon glyphicon-plus"></span></a></p>
<p><a class="btn btn-danger" href="#/edit" > Edit Translator Details <span class="glyphicon glyphicon-plus"></span></a></p>
<p><a class="btn btn-danger" href="#/del" > remove Translator Details <span class="glyphicon glyphicon-plus"></span></a></p>
<p><a class="btn btn-danger" href="#/edituser" > Edit User Details <span class="glyphicon glyphicon-plus"></span></a></p>
<p><a class="btn btn-danger" href="#/deluser" > Delete User  <span class="glyphicon glyphicon-plus"></span></a></p>

