

<style type="text/css">
 * {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



div.wrapper {
  margin: 20px auto;
  width: 350px;
  height: 1000px;
}

p {
  font-family: georgia;
  font-size: 1.5rem;
  line-height: 50px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > a {
        background-color: #cccc33;
        background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }

        nav.vertical > ul > li > a:hover {
         background-color: rgb(114, 51, 98);
         background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
         cursor: pointer;
        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
          }
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1.1rem;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: lightBlue;
                color: rgb(255,255,255);
                padding: 10px 0 10px 50px;
              }
              
</style>
<div class="login1" id="login1" style="z-index: 2; position: absolute; left: 20px; right: 1000px; top: 80px; background-color: ; width: 400px; ;padding: 0px; color: black; border: ; ">
<div class="wrapper" >
  <nav class="vertical">
    <ul>
      <li>
        <a href="#/home"><p>Translator</p></a>
        <div>
          <ul>
            <li><a href="#/addauthor"><p>Add New Translator</p></a></li>
            <li><a href="#/edit"><p>Edit Translator Details</p></a></li>
            <li><a href="#/del"><p>Remove Translator</p></a></li>
            
          </ul>
        </div>
      </li>
      <li>
        <a href="#/home"><p>User</p></a>
        <div>
          <ul>
            <li><a href="#/signup1"><p>Add New User</p></a></li>
            <li><a href="#/edituser"><p>Edit User Details</p></a></li>
            <li><a href="#/deluser"><p>Remove User </p></a></li>
          </ul>
        </div>
      </li>
     
    </ul>
  </nav>
  
</div>
</div>
<div ng-show="!v" class="login" id="login" style="z-index: 2; position: absolute; left: 420px; right: 50px; top: 50px; background-color: #C8C8C; width: 900px; padding: 30px; color: black; border: ; ">

        <div ng-controller="contact">



      <div data-ng-init="details()">
       
      
       <div class="ui grid" ng-repeat="entry in collection1">
                <div class="ten wide column"><h3><b>{{entry.trans_name}}</b></h3><h4><b>Translator ID: {{entry.id}}</b></h4><h4><span class="glyphicon glyphicon-phone"></span><b> {{entry.trans_number}}</b><br>
                <span class="glyphicon glyphicon-envelope"></span><b> {{entry.trans_email}}</b></h4><hr></div>
                
                <div class="four wide column"><h3><b>Translation:</b></h3>  <h4><b> {{entry.trans_from}} - {{entry.trans_to}}</b></h4> 

                
                </div>

          

      </div>
    </div>
</div>
<!-- <div class="login" id="login" style="z-index: 2; position: absolute; left: 933px auto; right: 0px; top: 100px; background-color: ; width: 300px; height: 600px; padding: 0px; color: black; border:; ">
<a class="twitter-timeline" href="https://twitter.com/hashtag/translators" data-widget-id="572373836926943232">#translators Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
     

     </div> -->