<style type="text/css">
    hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
<html ng-app="mytodoApp">


<div ng-show="!v" class="login" id="login" style="z-index: 2; position: absolute; left: 310px; right: 50px; top: 100px; background-color: ;padding: 30px; color: black; border:; height:600px;line-height:3em;overflow:auto;width: 1030px;">

        <div ng-controller="contact">

			<div data-ng-init="details()">


			<div class="ui grid" ng-repeat="entry in collection1" >
                <div class="eleven wide column"><h4><b>{{entry.trans_name}}</b></h4>
                <h3><span class="glyphicon glyphicon-phone"></span> {{entry.trans_number}}</h3>
                <h3><span class="glyphicon glyphicon-envelope"></span> {{entry.trans_email}}</h3>
                </div>
                <div class="four wide column"><h4><b>Translation:</b></h4><h4>{{entry.trans_from}} - {{entry.trans_to}}</h4> </div><hr>

                </div>

    			

			</div>
		</div>
      <!--   <nav>
  <ul class="pager">
    <li class="previous"><a href="#/home"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#/home">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav> -->
</div>

<div class="login1" id="login1" style="z-index: 2; position: absolute; left: 20px; right: 1000px; top: 20px; background-color: ; width: 300px; height: 600px;padding: 20px; color: black; border:; ">
	
    <form name="contact1" ng-submit="contact()">
			
        <div class="form-group" ng-class="{ 'has-error' : contact1.from.$invalid && !contact1.from.$pristine }">
        <h3><b>Language:</b></h3>
        <label><h4>From</h4></label>
        <input type="text" name="from" class="textbox1" style="font-size:25px"  ng-model="from"   required >
            
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contact1.to.$invalid && !contact1.to.$pristine }">
            <label><h4>To</h4></label>
            <input type="text" name="to" class="textbox1" style="font-size:25px"  ng-model="to"  required >
            
        </div>
			
            <button type="submit" class="btn btn-success btn-block btn-lg "><span class="glyphicon glyphicon-search"></span> Search</button><br><br>
		

	<a class="btn btn-danger btn-block btn-lg" href="#/blog" ><span class="glyphicon glyphicon-pencil"></span> Review </a><br><br>
	<a class="btn btn-danger btn-block btn-lg" href="#/rating" ><span class="glyphicon glyphicon-star"></span> Rate </a><br><br>
    <a class="btn btn-danger btn-block btn-lg" href="#/translator" ><span class="glyphicon glyphicon-transfer"></span> Online Translator </a>
		
		
		</form>
		</div>
		</div>

		
</div>
<div  ng-show="v" class="login2" id="login2" style="z-index: 2; position: absolute; left: 310px; right: 50px; top: 100px; background-color:; width: 1030px; padding: 30px; color: black; border: ; height:600px;line-height:3em;overflow:auto;width: 730px; ">

			<div ng-controller="contact">
    			
			
			<div class="ui grid" ng-repeat="entry in collection">
                <div class="ten wide column"><b>Response time: {{entry.diff}}</b></div>
                <div class="ten wide column"><h3><b>{{entry.trans_name}}</b></h3><h4><span class="glyphicon glyphicon-phone"></span> <b>{{entry.trans_number}}</b></h4><h4><span class="glyphicon glyphicon-envelope"></span> {{entry.trans_email}}</h4><h4>Rating:{{entry.ratevalue}}<span class="glyphicon glyphicon-star"></h4></div>
                <div class="four wide column">
                <h3><b>Translation:</b></h3><h4> {{entry.trans_from}} - {{entry.trans_to}}</h4></div>
                <!-- <div class="two wide column">{{entry.trans_from}}</div>
                <div class="two wide column"> {{entry.trans_to}}</div>
                <div class="five wide column"> {{entry.trans_address}}</div> -->
                <!-- <div class="two wide column"> {{entry.ratevalue}}<span class="glyphicon glyphicon-star"></div> -->
            </div>
	
	       </div>

</div>
<!-- <div class="login" id="login" style="z-index: 2; position: absolute; left: 933px auto; right: 0px; top: 100px; background-color:; width: 300px; height: 600px; padding: 0px; color: black; border: ; ">
<a class="twitter-timeline" href="https://twitter.com/hashtag/translators" data-widget-id="572373836926943232">#translators Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
     

     </div> -->


</html>






<!-- <!— <div class="jumbotron"> —>
<h2> <div class="container">
 <div class="box">
 <h1>Search</h1>
 <h3>Always a pleasure to help you.</h3>
 <div class="nav">
<form name="loginform" ng-submit="signin(loginform.$valid)" novalidate>
<!— USERNAME —> 
 <h3>Language.</h3>
 <div class="form-group " ng-class="{ 'has-error' : loginform.username.$invalid && !loginform.username.$pristine }">

 <input type="text" name="username" class="form-control" ng-model="user.username" ng- placeholder="From" required />

 </div> 
 <!— PASSWORD —>
 <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !loginform.password.$pristine }">

 <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="To" required />

 </div>
 <!— </div> —>
 <button type="submit" class="btn btn-lg btn-primary">Search <span class="glyphicon glyphicon-search"></span></button>
 </div>
 <div style="clear:both;"></div>
 </div>
 </h2>
 </form> -->