<style> 


div.box {
	
    box-sizing: border-box;
    width: 50%;
    border: 1em #FFFFFF;
    float: left;
}
h2 {
    position: absolute;
    left: 10px;
    top: 50px;
}
</style>



<!--  <div class="jumbotron"> -->
<h2> <div class="container">
 	<div class="box">
  <h1>Search</h1>
  <h3>Always a pleasure to help you.</h3>
  <div class="nav">
<form name="loginform" ng-submit="signin(loginform.$valid)" novalidate>
<!-- USERNAME --> 
 <h3>Language.</h3>
        <div class="form-group  " ng-class="{ 'has-error' : loginform.username.$invalid && !loginform.username.$pristine }">
            
            <input type="text" name="username" class="form-control"  ng-model="user.username" ng- placeholder="From" required />
            
        </div>          
            <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !loginform.password.$pristine }">
            
            <input type="password" name="password" class="form-control" ng-model="user.password"  placeholder="To" required />
            
        </div>
  <!--     </div> -->
        <button type="submit" class="btn btn-lg btn-primary">Search <span class="glyphicon glyphicon-search"></span></button>
    </div>
      <div style="clear:both;"></div>
  </div>
        </h2>
    </form>
