<html ng-app="mytodoApp">
	<form ng-submit="contact()">
		<input ng-model="from" type="text" placeholder="From">
		<input ng-model="to" type="text" placeholder="To">
			<button type="submit" >submit</button>
	</form>
	<form ng-submit="logout()">
	<p><button type="submit"> logout</button> <span class="glyphicon glyphicon-plus"></span></a></p>
	<p><a class="btn btn-danger" href="#/blog" > Review <span class="glyphicon glyphicon-plus"></span></a></p>
    </form>
	<div ng-controller="contact">
		<ul>
          <li ng-repeat="entry in collection">{{entry}}</li>
		</ul>

	</div>
</html>