<div class="login" id="login" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color:; width: 500px; padding: 50px; color: black; border:; ">
<h2><b>Remove Translator:</b></h2>
<form ng-submit="delete()" class="form-inline">
	
		<div data-ng-init="deletetrans()">
					<h4><b>Select Translator ID:</b></h4> <select ng-model = "authorname"class="form-control">
						<option value="authorname">-- Select Persons --</option>
						<option data-ng-repeat="entry in collection" value="{{entry.id}}">{{entry.id}}</option>
					</select>
						<button type="submit" class="btn btn-success" >GO</button>
 
               
		</div>

				
</form>
	
<div ng-controller="delete">
<form ng-submit="remove()">
	
  		<!-- <div ng-repeat="entry in collection1"> -->
  		<br><label><h4><b>Translator Name:</b></h4></label>
  			<br><input class="form-control input-lg" ng-model="collection1[0].trans_name" id="trans_name" name="trans_name" value="collection1.trans_name" type="text" ><br>
  			<br><label><h4><b>Language:</b></h4></label>
  			<br><label><h4>From:</h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_from" id="trans_name" type="text" ><br>
  			<br><label><h4>To:</h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_to"  type="text" ><br>
  			<br><label><h4><b>Mobile Number:</b></h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_number"  type="text" ><br>
  			<br><label><h4><b>Address:</b></h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_address"  type="text" ><br>
  		<!-- </div> -->
    	<button type="submit" class="btn btn-danger btn-lg" ><span class="glyphicon glyphicon-trash"></span> Remove Translator</button>		
	</div>
</form>