<div class="login" id="login" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: ; width: 550px; padding: 50px; color: black; border: ; ">
<h2><b>Edit Translator:</b></h2>
<form ng-submit="edit()" class="form-inline">
	
		<div data-ng-init="edittrans()">
					<h4><b>Select Translator ID:</b></h4><select ng-model = "authorname" class="form-control "  >
						<option value="authorname">-- Select Persons --</option>
						<option data-ng-repeat="entry in collection" value="{{entry.id}}">{{entry.id}}</option>
					</select>
					<button type="submit" class="btn btn-success" >GO</button>
</form>

 
               
		</div>

				<!-- <button type="submit" class="btn btn-success" >Submit</button> -->
</form>
	
<div ng-controller="edit">
<form ng-submit="save()">
	
  		<!-- <div ng-repeat="entry in collection1"> -->
  		    <br><label><h4><b>Translator Name:</b></h4></label>
  			<br><input class="form-control input-lg" ng-model="collection1[0].trans_name" id="trans_name" name="trans_name" value="collection1.trans_name" type="text" ><br>
  			 <br><label><h4><b>Language:</b></h4></label>
  			 <br><label><h4>From:</h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_from" id="trans_name" type="text" ><br>
  			<label><h4>To:</h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_to"  type="text" ><br>
  			<br><label><h4><b>Mobile Number:</b></h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_number"  type="text" ><br>
  			<br><label><h4><b>Address:</b></h4></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_address"  type="text" ><br>
  		<!-- </div> -->
    	<button type="submit" class="btn btn-primary btn-lg" ><span class="glyphicon glyphicon-floppy-disk"></span> Save The Changes</button>		
	</div>
</form>
</div>