<div class="login" id="login" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: #cccc33; width: 500px; padding: 50px; color: black; border: #0000cc 2px dashed; ">
<h2><b>Edit Translator:</b></h2>
<form ng-submit="edit()" class="form-inline">
	
		<div data-ng-init="edittrans()">
					<b>Select Author:</b> <select ng-model = "authorname" class="form-control"  >
						<option value="authorname">-- Select Persons --</option>
						<option data-ng-repeat="entry in collection" value="{{entry.trans_name}}">{{entry.trans_name}}</option>
					</select>
					<button type="submit" class="btn btn-success" >GO</button>
</form>

 
               
		</div>

				<!-- <button type="submit" class="btn btn-success" >Submit</button> -->
</form>
	
<div ng-controller="edit">
<form ng-submit="save()">
	
  		<!-- <div ng-repeat="entry in collection1"> -->
  		    <br><label><b>Translator Name</b></label>
  			<br><input class="form-control" ng-model="collection1[0].trans_name" id="trans_name" name="trans_name" value="collection1.trans_name" type="text" ><br>
  			 <br><label><b>Language:</b></label>
  			 <br><label>From:</label>
  			<input class="form-control" ng-model="collection1[0].trans_from" id="trans_name" type="text" ><br>
  			<br><label>To:</label>
  			<input class="form-control" ng-model="collection1[0].trans_to"  type="text" ><br>
  			<br><label><b>Mobile Number:</b></label>
  			<input class="form-control" ng-model="collection1[0].trans_number"  type="text" ><br>
  			<br><label><b>Address:</b></label>
  			<input class="form-control" ng-model="collection1[0].trans_address"  type="text" ><br>
  		<!-- </div> -->
    	<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-disk"></span> Save The Changes</button>		
	</div>
</form>
</div>