 <div class="signup" id="signup" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color:; width: 600px; padding: 50px; color: black; border:; ">
 <h2><b>Forgot Password!</b></h2>
 <h3><b>Step 1:</b></h3><h4> Enter Your Registered Mail ID</h4><br>
 <h3><b>Step 2:</b></h3><h4> Check Your Mail For Password</h4><br>
<form ng-submit="fp()">
<h4><label>Email</label></h4>
<input ng-model="email" class="textbox2" style="font-size:25px" type="text" ><br>
<br><button type="submit" class="btn btn-primary btn-lg" >Send <span class="glyphicon glyphicon-send"></span></button>

</form>
</div>