 <div class="signup" id="signup" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: #cccc33; width: 300px; padding: 50px; color: black; border: #0000cc 2px dashed; ">
 <h2><b>Forgot Password !</b></h2>
 <h3><b>Step 1:</b></h3><h5> Enter Your Registered MailID</h5><br>
 <h3><b>Step 2:</b></h3><h5> Check Your Mail For Password</h5><br>
<form ng-submit="fp()">
<input ng-model="email" class="form-control" type="text" placeholder="email ID"><br>
<button type="submit" class="btn btn-primary" >Send<span class="glyphicon glyphicon-send"></span></button>

</form>
</div>