<div class="login" id="login" style="z-index: 2; position: absolute; left: 633px auto; right: 433px; top: 100px ; background-color:  ; width: 500px; padding: 50px; color: black; ">

<h1>Welcome</h1><br>
<form name="login1" ng-submit="login()">

	
        <div class="form-group " ng-class="{ 'has-error' : login1.userName.$invalid && !login1.userName.$pristine }">
            <h4><label>UserName</label></h4>
            <input type="text" name="userName"  class="textbox" style="font-size:25px" ng-model="userName" required />
            
            
        </div>          
            <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : login1.userPass.$invalid && !login1.userPass.$pristine }">
            <h4><label>Password</label></h4>
            <input type="password" name="userPass" class=" textbox" style="font-size:25px" ng-model="userPass" required />
            
            
        </div>
 

	<button type="submit" class="btn btn-success btn-block btn-lg" ><span class="glyphicon glyphicon-log-in"></span>  Sign In  </button>
	<p><a  href="#/fp" ><h4> Forgot Password </h4></a></p><br>
	<p><a class="btn btn-danger btn-block btn-lg" href="#/signup" ><span class="glyphicon glyphicon-user"></span> New User SignUp </a></p>

</form>
</div>






















