<form ng-submit="login()">
	<input ng-model="userName" type="text" placeholder="UserName">
	<br><br>
	<input ng-model="userPass" type="password" placeholder="Password">
	<br><br>
	<div id="login-button" class="ui blue submit labeled icon button">
    <i class="sign in icon"></i><a  href="#/fp" >  Login
</div>
	<button type="submit" class="btn btn-success" >SignIn</button>
	<br><br><p><a  href="#/fp" > Forgot Password </a></p>
	<p><a class="btn btn-danger" href="#/signup1" > New User SignUp <span ></span></a></p>
</form>