<h1>Rate Your Favorites</h1>
  <h2>Always a pleasure to help you.</h2>

<form name="rate" ng-submit="rating(rate.$valid)" novalidate>
<!-- USERNAME -->
        <div class="form-group  " ng-class="{ 'has-error' : rate.author.$invalid && !rate.author.$pristine }">
            
            <input type="text" name="username" class="form-control"  ng-model="user.username" ng- placeholder="User Name" required />
            
        </div>          
            <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !loginform.password.$pristine }">
            
            <input type="password" name="password" class="form-control" ng-model="user.password"  placeholder="password" required />
            
        </div>
  <!--     </div> -->
        <button type="submit" class="btn btn-lg btn-primary">Sign In  <span class="glyphicon glyphicon-ok"></span></button>
        
    </form>