<form ng-submit="rating()">
	<div>
		<div data-ng-init="author()">
					<b>Person Data:</b> <select ng-model = "authorname"  >
						<option value="authorname">-- Select Persons --</option>
						<option data-ng-repeat="entry in collection" value="{{entry.trans_name}}">{{entry.trans_name}}</option>
					</select><br>
					<select ng-model = "star" >
					<div class="ui star rating" data-rating="3">
					</div>
					<div class="ui button">
  Follow
</div>
						<option value="0">-- Select star --</option>
						<option value="1">1 </option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						
						
					</select><br>

 
               
	</div>

			<button type="submit" class="btn btn-success" >Submit</button>
			</form>