   
    <div class="signup" id="signup" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: #cccc33; width: 500px; padding: 50px; color: black; border: #0000cc 2px dashed; ">
    <h2><b>Create Account:</b></h2>
    <form name="adduser1" ng-submit="adduser()">
    
    <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : adduser1.userName.$invalid && !adduser1.userName.$pristine }">
          
            <input type="text" name="userName" class="form-control"  ng-model="userName" ng-minlength="3" ng-maxlength="30" placeholder="Desired User Name" required >
            <p ng-show="adduser1.userName.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="adduser1.userName.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
    
    <!-- <input ng-model="userName" type="text" placeholder="UserName">
    <br><br> -->
     <!--    PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : adduser1.userPass.$invalid && !adduser1.userPass.$pristine }">
         
            <input type="password" name="userPass" class="form-control" ng-model="userPass"  placeholder="PassWord" required >
            
        </div>
    <!-- <input ng-model="userPass" type="password" placeholder="Password">
    <br><br> -->
    <!--    Userno -->
        <div class="form-group" ng-class="{ 'has-error' : adduser1.userno.$invalid && !adduser1.userno.$pristine }">
            
            <input type="number" name="userno" class="form-control" ng-model="userno" ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number" required >
            <p ng-show="adduser1.userno.$error.minlength" class="help-block">Enter Valid Mobile Number</p>
            <p ng-show="adduser1.userno.$error.maxlength" class="help-block">Enter Valid Mobile Number</p>
        </div>
          <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : adduser1.email.$invalid && !adduser1.email.$pristine }">
            
            <input type="email" name="email" class="form-control" ng-model="email" placeholder="Email Address" required >
            <p ng-show="adduser1.email.$invalid && !adduser1.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
    <!-- <input ng-model="userno" type="number" placeholder="Mobile Number">
    <br><br> -->
     <!-- EMAIL -->
        <!-- <div class="form-group" ng-class="{ 'has-error' : adduser.email.$invalid && !adduser.email.$pristine }">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" ng-model="adduser.email" placeholder="Email Address" required >
            <p ng-show="adduser.email.$invalid && !adduser.email.$pristine" class="help-block">Enter a valid email.</p>
        </div> -->
     <!-- <input ng-model="email" type="text" placeholder="email">
     <br><br> -->
     <button type="submit" class="btn btn-primary">Submit</button>
    
        
    </form>
     </div>


        
        
        
         <!--    PASSWORD
        <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>PassWord*</label>
            <input type="password" name="password" class="form-control" ng-model="user.password"  placeholder="password" required >
            
        </div> -->
         <!--    Userno -->
        <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.userno.$invalid && !userForm.userno.$pristine }">
            <label>Mobile Number*</label>
            <input type="number" name="userno" class="form-control" ng-model="user.userno" ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number" required >
            <p ng-show="userForm.userno.$error.minlength" class="help-block">Enter Valid Mobile Number</p>
            <p ng-show="userForm.userno.$error.maxlength" class="help-block">Enter Valid Mobile Number</p>
        </div -->
            
       <!-- EMAIL -->
       <!--  <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email Address" required >
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div> -->
         
         
    