<div ng-controller="trans">
<div ng-show="!v" class="signup" id="signup" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: ; width: 500px; padding: 50px; color: black; border: ; ">
<h2><b>Edit Your Profile</b></h2>

<div data-ng-init="transdet()">

<form ng-submit="save2()" name="addauthor1">
			<br><label><h3><b>Your Name:</b></h3></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_name" type="text" readonly="readonly" ><h5>*You Cant Change Your Name</h5><br>

  			<br><label><h3><b>Mobile Number:</b></h3></label>

  			 <div  class="form-group" ng-class="{ 'has-error' : addauthor1.trans_number.$invalid && !addauthor1.trans_number.$pristine }">
  			<input type="text" class="form-control input-lg" ng-model="collection1[0].trans_number"  minlength="10" ng-maxlength="10">
  			<p ng-show="adduser2.userno.$error.minlength" class="help-block">Enter Valid Mobile Number</p>
            <p ng-show="adduser2.userno.$error.maxlength" class="help-block">Enter Valid Mobile Number</p>
            </div>
  			
     <br>
  			<br><label><h3><b>Address:</b></h3></label>
  			<input class="form-control input-lg" ng-model="collection1[0].trans_address"  type="text" required><br>
  			<!-- EMAIL -->
        <br><label><h3><b>Email ID:</b></h3></label>
        <div class="form-group" ng-class="{ 'has-error' : addauthor1.trans_email.$invalid && !adduser1.email.$pristine }">
            
            <input type="email" name="email" class="form-control input-lg" ng-model="collection1[0].trans_email" required >
            <p ng-show="addauthor1.trans_email.$invalid && !addauthor1.trans_email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
  			
  			
    	<br><button type="submit" class="btn btn-primary btn-block btn-lg" ><span class="glyphicon glyphicon-floppy-disk "></span>  Save The Changes </button>	</form>		
      <br><button class="btn-danger btn-block btn-lg" ng-click="pass()" >Change Password  </button>	
  </div>
</div>
<div ng-show="v" class="signup" id="signup" style="z-index: 2; position: absolute; left: 533px auto; right: 533px; top: auto; background-color: ; width: 500px; padding: 50px; color: black; border:; ">
<form name="pass1" ng-submit="savepass()">
     <!--    PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : pass1.password.$invalid && !pass11.password.$pristine }">
         
            <input type="password" name="password" class="form-control input-lg" ng-model="password"  placeholder="Enter New PassWord" required >
            <br><button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            
        </div>
        </form>
</div>